<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue增删改查</title>
</head>
<style>
    td{
        text-align: center;
        padding:8px 16px;
    }
</style>
<body>
<div id="app">
    <input type="text" v-model="keyWords" placeholder="请输入关键词" @keyup.enter="search"><button @click="search">搜索</button><br/>
    <table>
    <thead><tr><td>序号</td><td>姓名</td><td>等级</td><td>数值</td><td>操作</td></tr></thead>
    <tbody>
        <tr v-for="(item,index) in userList" :key="index">
            <td>{{index+1}}</td><td>{{item.name}}</td><td>{{item.level}}</td><td>{{item.num}}</td><td><button @click="editUser(index)">修改</button><button @click="delUser(index)">删除</button></td>
        </tr>
    </tbody>
    </table>
    <button @click="addUser">添加</button>
    <div v-if="isShow">
        姓名：<input type="text" v-model="editName"/><br/>
        等级：<input type="text" v-model="editLevel"/><br/>
        数值：<input type="text" v-model="editNum"/><br/>
        <button @click="submit">确认</button>
    </div>
</div>
</body>
<script src="../vue.js"></script>
<script src="js/zsgc.js"></script>
</html>